.body{
    background-color: rgb(184, 184, 184);
    height: 800px;
    width: auto;
    display: flex;
    justify-content: center;    /*水平居中对齐*/
    align-items: center;       /*垂直居中对齐*/     
            
}




/*.div9{
    background-color: blueviolet;
    width: 400px;
    height: 600px;
}*/

/*PC端显示规则*/
@media(min-width:1024px){      
     .div1{
        background-color: rgb(184, 184, 184);
        width: 100%;
        height: 672px;
        box-shadow: 5px 5px 5px 2px rgb(138, 138, 138);border-radius: 10px;
    }
    .div-top{
        background-color: chocolate;
        border-radius: 10px 10px 0px 0px;
        font-size: larger;
        font-weight: 500px;
        width: 100%;
        height: 5%;
    }

    /*聊天主体的css设计*/
     .div-body{
        background-color: rgb(222, 222, 222);
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    /*左边的消息*/
     .left-msg{
        background-color: rgb(150, 102, 102);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        
    }
    .header-picture-l{
        background-color: rgb(221, 221, 221);
        flex: 0.4;
        display: flex;
        justify-content: center;

    }
    .profile-picture-l{
        width: 60%;
        height: 80%;
        border-radius: 10px;
        margin-top: 8px;

      
    }
    .msg-and-time-l{
        background-color: rgb(223, 223, 223);
        flex: 4;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;

     
    }
    .msg-time{
        background-color: rgb(220, 220, 220);
    }
    .msg-l{
        display: inline-flex;
        margin-top: 5px;
        padding: 5px;
        border-radius: 0px 7px 7px 7px;
        background-color: rgb(255, 255, 255);
       
    } 

    /*右边的消息*/
     .right-msg{
        background-color: rgb(150, 102, 102);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        
        
    }
    .header-picture-r{
        background-color: rgb(220, 220, 220);
        flex: 0.4;
        display: flex;
        justify-content: center;

    }
    .profile-picture-r{
        width: 60%;
        height: 80%;
        border-radius: 10px;
        margin-top: 8px;

      
    }
    .msg-and-time-r{
        background-color: rgb(223, 223, 223);
        flex: 4;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-end;

     
    }
    .msg-time{
        background-color: rgb(220, 220, 220);
    }
    .msg-r{
        display: inline-flex;
        margin-top: 5px;
        padding: 5px;
        border-radius: 7px 0px 7px 7px;
        background-color: rgb(11, 255, 97);
       
    }
    


  

 

 


    .div-foot{
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: end;
        box-shadow: 0px -4px 3px 0px rgb(198, 198, 198);
        
      
        
    }
    .input{
        width: 100%;
        height: 75%;
        box-sizing: border-box;
        border: none;           /*去除输入框边框*/
        padding: 5px;          
    }
    .btn{
        background-color: rgb(102, 102, 255);
        box-shadow: 0px 2px 3px 0px rgb(73, 73, 73);
        width: 8%;
        height: 30%;
        margin: 2%;
        border-radius: 5px;
        border: none;
        
    }
    .btn:hover{
        background-color: rgb(100, 100, 255);
        box-shadow: 0px 2px 3px 0px rgb(255, 255, 255);
        transition: all 0.2s;        /*效果延迟*/
    }
}
/*手机端显示规则*/
@media(max-width:767px){
    .div1{
        background-color: rgb(184, 184, 184);
        width: 378px;
        height: 672px;
        box-shadow: 5px 5px 5px 2px rgb(138, 138, 138);border-radius: 10px;
    }
    .div-top{
        background-color: chocolate;
        border-radius: 10px 10px 0px 0px;
        font-size: larger;
        font-weight: 500px;
        width: 100%;
        height: 5%;
    }
    .title{
        margin: 5px;
    } 
    /*聊天主体的css设计*/
     .div-body{
        background-color: rgb(222, 222, 222);
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    /*左边的消息*/
     .left-msg{
        background-color: rgb(150, 102, 102);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row;
        
        
    }
    .header-picture-l{
        background-color: rgb(222, 222, 222);
        flex: 1;
        display: flex;
        justify-content: center;

    }
    .profile-picture-l{
        width: 60%;
        height: 60%;
        border-radius: 10px;
        margin-top: 8px;

      
    }
    .msg-and-time-l{
        background-color: rgb(223, 223, 223);
        flex: 4;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-start;

     
    }
    .msg-time{
        background-color: rgb(220, 220, 220);
    }
    .msg-l{
        display: inline-flex;
        margin-top: 5px;
        padding: 5px;
        border-radius: 0px 7px 7px 7px;
        background-color: rgb(255, 255, 255);
       
    } 

    /*右边的消息*/
     .right-msg{
        background-color: rgb(150, 102, 102);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        
        
    }
    .header-picture-r{
        background-color: rgb(222, 222, 222);
        flex: 1;
        display: flex;
        justify-content: center;

    }
    .profile-picture-r{
        width: 60%;
        height: 60%;
        border-radius: 10px;
        margin-top: 8px;

      
    }
    .msg-and-time-r{
        background-color: rgb(223, 223, 223);
        flex: 4;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        align-items: flex-end;

     
    }
    .msg-time{
        background-color: rgb(220, 220, 220);
    }
    .msg-r{
        display: inline-flex;
        margin-top: 5px;
        padding: 5px;
        border-radius: 7px 0px 7px 7px;
        background-color: rgb(11, 255, 97);
       
    }
    


     /*右边的消息*/
     .right-msg{
        background-color: rgb(150, 102, 102);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        
        
    }
    .header-picture-r{
        background-color: rgb(222, 222, 222);
        flex: 1;
        display: flex;
        justify-content: center;

    }
    .profile-picture-r{
        width: 60%;
        height: 60%;
        border-radius: 10px;
        margin-top: 8px;

      
    }

 

 


    .div-foot{
        background-color: rgb(255, 255, 255);
        border-radius: 0px 0px 10px 10px;
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: end;
        box-shadow: 0px -4px 3px 0px rgb(198, 198, 198);
        
      
        
    }
    .input{
        width: 100%;
        height: 60%;
        box-sizing: border-box;
        border: none;           /*去除输入框边框*/
        padding: 5px;          
    }
    .btn{
        background-color: rgb(102, 102, 255);
        box-shadow: 0px 2px 3px 0px rgb(73, 73, 73);
        width: 15%;
        height: 25%;
        margin: 2%;
        border-radius: 5px;
        border: none;
        
    }
    .btn:hover{
        background-color: rgb(100, 100, 255);
        box-shadow: 0px 2px 3px 0px rgb(255, 255, 255);
        transition: all 0.2s;        /*效果延迟*/
    }
}