.body{
    background-color: aqua;
    height: 800px;
    width: auto;
    display: flex;
    justify-content: center;    /*水平居中对齐*/
    align-items: center;      /*垂直居中对齐*/             
}




/*.div9{
    background-color: blueviolet;
    width: 400px;
    height: 600px;
}*/

/*PC端显示规则*/
@media(min-width:1024px){      
    .div1{
        background-color: blueviolet;
        width: 100%;
        height: 100%;
        
    }
    .div2{
        background-color: blanchedalmond;
        width: ;
    }
    
}

/*手机端显示规则*/
@media(max-width:767px){
    .div1{
        background-color: brown;
        width: 180px;
        height: 320px;
    }
    
}